{% extends 'main.html' %}
{% block main %}
  журнал
    {% if teacher %}
        <div class="col-md-5" id="left-coll">
            <form role="form" action="{% url 'grades' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="grades">Оцінка</label>
                    <input type="text" class="form-control" name="grades" id="grades" placeholder="Оцінка">

                    <select name="student">
                        {%for student in get_list_class%}
                        <option> {{student.second_name}} {{student.first_name}} {{student.patronymic}}</option>
                        {%endfor%}
                    </select>
                    <select name="class_title" style="display:">
                        <option> {{class_title}}</option>
                    </select>
                    <select name="subject_title" style="display:">
                        <option> {{subject_title}}</option>
                    </select>
                    <button type="submit" class="btn btn-default active">Ввести</button>
                </div>
            </form>
        </div>
        <div class="" id="">
            <form role="form" action="{% url 'load_subject' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <select name="subject">
                        {%for subject in subjects%}
                        <option> {{subject}}</option>
                        {%endfor%}
                    </select>
                    <select name="class_title" style="display:">
                        <option> {{class_title}}</option>
                    </select>
                    <button type="submit" class="btn btn-default active">Завантажити</button>
                </div>
            </form>
        </div>

{% if subject_title %}<div>Журнал з предмету: <text id="subject">{{subject_title}}</text></div>{% endif %}
{% if class_title %}<div><text id="class_title">{{class_title}}</text> клас</div>{% endif %}

<div id ='table'></div>


{% endif %}

{% endblock %}

